{% extends 'core/base.html' %} 

{% block title %}Rescatados{% endblock %}

{% block headers %}
<li><a href="{% url 'home' %}">Home</a></li>
<li><a href="{% url 'about' %}">Sobre nosotros</a></li>
<li class="active"><a href="{% url 'rescatados' %}">Rescatados</a></li>
<li><a href="{% url 'services' %}">Servicios</a></li>
<li><a href="{% url 'blog' %}">Blog</a></li>
<li><a href="{% url 'visit' %}">Visítanos</a></li>
<li><a href="{% url 'contact' %}">Contáctanos</a></li>
{% endblock %}

{% block imagen_contenido %}
{% load static %}
<li style="background-image: url('{% static 'core/img/whitecat.jpg' %}');">
{% endblock %}

{% block texto1 %}
<h1 class="probootstrap-heading probootstrap-animate mb20">Conoce a nuestros rescatados</h1>
{% endblock %}

{% block overlay %}
{% endblock %}

{% block texto3 %}
{% endblock %}



{% block texto4 %}
  {% for rescatado in rescatados %}
    <section class="probootstrap-half">
        <div class="image-wrap">
          <div class="image" style="background-image: url('{{rescatado.image.url}}');"></div>
        </div>
        <div class="text">
          <h3 class="mt0 mb40">{{rescatado.name}}</h3>
          <p>{{rescatado.info|safe}}</p>
          <p class="mb50">{{rescatado.description|safe}}</p>
          <p><a href="#" class="btn btn-ghost btn-ghost-white mb10">Agenda una cita para conocerlo</a></p>
        </div>
      </section>
  {% endfor %}
    <div class="row text-center text-secondary mt-4 mb-4">
      {% if rescatados.has_other_pages %}
        <nav aria-label="Paginación rescatados">
          <ul class="pagination">
            {% if rescatados.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{rescatados.previous_page_number}}">&laquo;</a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}

            {% for i in rescatados.paginator.page_range %}
              {% if rescatados.number == i %}
                <li class="page-item active"><span class="page-link">{{i}} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
              {% endif %}
            {% endfor %}

            {% if rescatados.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{rescatados.next_page_number}}">&raquo;</a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}
    </div>
      </div>
      
{% endblock %}