{% extends 'core/base.html' %} 
{% load static %}
{% block title %}{{page.title}}{% endblock %}

{% block headers %}
<li><a href="{% url 'home' %}">Home</a></li>
<li><a href="{% url 'about' %}">Sobre nosotros</a></li>
<li><a href="{% url 'rescatados' %}">Rescatados</a></li>
<li><a href="{% url 'services' %}">Servicios</a></li>
<li><a href="{% url 'blog' %}">Blog</a></li>
<li><a href="{% url 'visit' %}">Visítanos</a></li>
<li><a href="{% url 'contact' %}">Contáctanos</a></li>

{% endblock %}

{% block imagen_contenido %}

<li style="background-image: url('{% static 'core/img/doggreen.jpg' %}');">
{% endblock %}

{% block texto1 %}
<h1 class="probootstrap-heading probootstrap-animate mb20">{{page.title}}</h1>
{% endblock %}

{% block overlay %}
{% endblock %}

{% block texto3 %}
{% endblock %}

{% block texto4 %}
<section class="probootstrap-half reverse">
      <div class="image-wrap">
        <div class="image" style="background-image: url('{% static 'core/img/slider_4.jpg' %}');"></div>
      </div>
      <div class="text">
        <h3>{{page.title}}</h3>
        {{page.content|safe}}
      </div>
    </section>

     <section class="probootstrap-half">
      <div class="image-wrap">
        <div class="image" style="background-image: url('{% static 'core/img/slider_2.jpg' %}');"></div>
      </div>
    </div>
{% endblock %}