<!DOCTYPE html>
<html lang="es-cl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Adopta.me">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    {% load static %}  
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Rubik:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/styles-merged.css' %} ">
    <link rel="stylesheet" href="{% static 'core/css/style.min.css' %} ">
    <link rel="stylesheet" href="{% static 'core/css/custom.css' %} ">

    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <!-- START: header -->
  
  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
    <div class="container">
        <a href="{% url 'home' %}" class="probootstrap-logo">Adopta.me<span>.</span></a>
        
        <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menú</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
            {% block headers %}{% endblock%}
          </ul>
          <div class="extra-text visible-xs">
            <a href="#" class="probootstrap-burger-menu"><i>Menú</i></a>
            <h5>Redes sociales</h5>
            <ul class="social-buttons">
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-facebook2"></i></a></li>
              <li><a href="#"><i class="icon-instagram2"></i></a></li>
            </ul>
          </div>
        </nav>
    </div>
  </header>
  <!-- END: header -->

  <div class="probootstrap-main-content">
    <section class="probootstrap-slider flexslider">
      <ul class="slides">
         <!-- class="overlay" -->
        {% block imagen_contenido %}{% endblock %}>
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="probootstrap-slider-text text-center">
                    {% block texto1 %}{% endblock %}
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- class="overlay" -->
        {% block overlay %}{% endblock %}
      </ul>
    </section>
    {% block texto3 %}{% endblock %}

    {% block texto4 %}{% endblock %}
    
    <!-- Comienzo Footer -->
    <div class="probootstrap-footer-spacer"></div>
    <footer class="probootstrap-footer">
      <div class="probootstrap-footer-section">
        <div class="container">
          <div class="row mb80">
            <div class="col-md-4">
              <div class="probootstrap-footer-widget">
              <h3>Sobre nosotros y nuestros rescatados</h3>
              <p>Somos una fundación que ha logrado crecer gracias al apoyo de las personas y difusión en redes sociales. Esto nos ha permitido arrendar una casona en algún lugar de Santiago donde nuestros rescatados poseen el espacio y atención que merecen hasta que logren ser adoptados.</p>
              <p><a href="{% url 'rescatados' %}" class="btn btn-ghost btn-ghost-white btn-sm">Conócelos</a></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="probootstrap-link-wrap probootstrap-footer-widget">
                <ul>
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'about' %}">Sobre nosotros</a></li>
                  <li><a href="{% url 'rescatados' %}">Rescatados</a></li>
                  <li><a href="{% url 'services' %}">Servicios</a></li>
                  <li><a href="{% url 'blog' %}">Blog</a></li>
                  <li><a href="{% url 'visit' %}">Visítanos</a></li>
                  <li><a href="{% url 'contact' %}">Contáctanos</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="probootstrap-footer-widget">
                <h3>Nuestras redes sociales</h3>
                <ul class="probootstrap-footer-social">
                  {% if LINK_TWITTER %}
                    <li><a href="{{LINK_TWITTER}}" target="_blank"><i class="icon-twitter"></i></a></li>
                  {% endif %}
                  {% if LINK_FACEBOOK %}
                    <li><a href="{{LINK_FACEBOOK}}"target="_blank"><i class="icon-facebook"></i></a></li>
                  {% endif %}
                  {% if LINK_INSTAGRAM %}
                    <li><a href="{{LINK_INSTAGRAM}}" target="_blank"><i class="icon-instagram2"></i></a></li>
                  {% endif %}
                </ul>
                <ul>
                  {% load pages_extras %}
                  {% get_page_list as page_list %}
                  {% for page in page_list %}
                    <li><a href="{% url 'page' page.id %}">{{page.title}}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>
<!-- Fin Footer -->
  

  <script src="{% static 'core/js/scripts.min.js' %} "></script>
  <script src="{% static 'core/js/main.min.js' %} "></script>
  <script src="{% static 'core/js/custom.js' %} "></script>

  </body>
</html>